/* box-sizing, root, body */
* {
    box-sizing: border-box;
}

:root  {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-reddish: #FB3B64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: rgba(165, 165, 165, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --color-white: #ffffff;
    --ff-os: 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;
}
body {
    font-family: var(--ff-open-sans);
}
/*header-generality */
.header {
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1; 
}
.container {
     width: 1352px;
     margin: 0 auto;
}
.header_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header logo and menu */
.header_logo {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--ff-raleway);
    font-size: 32px;
    font-weight: 300;
    ;
}
.header_nav_ul{
    display: flex;
    justify-content: space-between;
}
.header_nav_btn {
    padding: 28px 47px 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--ff-os);
    font-size: 11px;
    letter-spacing: 3px;
    color: var(--color-grey);
    border-bottom: 4px solid transparent;
    transition: .35s;
}
.header_nav_btn:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.last_btn_nav {
    padding-right: 0px;
}
/* first section */
.section_first {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.container_section_first {
    margin-top: 130px;
    text-align: center;
}
.heading_section_first {
    font-family: var(--ff-raleway);
    font-size: 49px;
}
.text_section_first {
    font-family: var(--ff-os);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
}
.btn_section_first {
    font-family: var(--ff-os);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 22px 157px 23px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 40px;
    opacity: 1;
    display: inline-block;
}
.section_first_image {
    width: 100%;
    height: auto;
}
/* second section */
.section_second {
    margin-top: 100px;
}
.section_second_heading {
    text-align: center;
    font-size: 36px;
    font-family: var(--ff-raleway);
    font-weight: 400;
    color: var(--color-black);
}
.section_second_container {
   max-width: 850px;
   margin: 100px auto 106px;
   display: flex;
   justify-content: space-between;
}
.section_second_container_small {
    width: 168px;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--ff-raleway);
}
.container_small_object {
    position: relative;
    height: 63px;
    width: 63px;
    border-radius: 50% 50%;
}
.circle_1 {
    background-color: var(--color-reddish);
}
.circle_2 {
    background-color: var(--color-primary);
}
.circle_3 {
    background-color: var(--color-green);
}
.object {
    position: absolute;
}
.object_nr_1 {
    top: 5px;
    left: 33px;
}
.object_nr_2 {
    top: 14px;
    left: 20px;
}
.object_nr_3 {
    top: 6px;
    left: 32px;
}
.container_small_heading {
    font-family: var(--ff-raleway);
    font-size: 20px;
    font-weight: 800;
    margin-top: 14px;
    margin-bottom: 20px;
    letter-spacing: 6px;
}
.container_small_text {
    font-family: var(--ff-raleway);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-grey);
}
/* third section */

.section_third {
    background-color: var(--color-light-grey);
    padding-top: 100px;
    padding-bottom: 100px;
}
.section_third_container {
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--color-light-grey);
}
.section_third_box_first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border:1px solid rgba(232, 233, 237, 1);
    background-color: var(--color-white);
    margin-bottom: 38px;
    border-radius: 5px;
}
.third_box_heading_text_first::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: rgba(251, 59, 100, 1);
    display: block;
    margin-top: 50px;
}
.section_third_box_second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    border:1px solid rgba(232, 233, 237, 1);
    background-color: var(--color-white);
    margin-bottom: 38px;
    border-radius: 5px;
}
.third_box_heading_text_second::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color:  var(--color-primary);
    display: block;
    margin-top: 50px;
}
.third_box_heading_text_first {
    max-width: 450px;
    margin: 91px 36px;
}
.third_box_heading_text_second {
    max-width: 450px;
    margin: 69px 36px;
}
.third_box_heading {
    margin-bottom: 30px;
    font-size: 36px;
    font-family: var(--ff-raleway);
    color: var(--color-black);
}
.third_box_text {
    font-size: 16px;
    line-height: 24px;
}
.third_box_object_mc{
    position: relative;
}
.third_box_image {
    position: relative;
    z-index: 2;
    max-width: 350px;
}
.macbook {
    margin-bottom: 38px;
    margin-right: 117px;
    margin-top: 100px;
}
.third_box_object_mc::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-reddish);
    display: block;
    border-radius: 40px;
    top: 13%;
    left: 42%;
    transform: rotateZ(45deg);
    z-index: 0;
}
.third_box_object_iphone{
    position: relative;
}
.iphone  {
    margin-left: 113px;
    margin-top: 39px;
    margin-bottom: 38px;
}
.third_box_object_iphone::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-reddish);
    display: block;
    border-radius: 50%;
    top: 4%;
    left: 15%;
    z-index: 0;
}
 .section_third_box_single {
    display: flex;
     
}
.third_box_div_text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border:1px solid rgba(232, 233, 237, 1);
    background-color: var(--color-white);
    margin-bottom: 38px;
    border-radius: 5px;
    max-width: 620px;
}
.third_box_inner {
    max-width: none;
    margin: 69px 35px;
}
.third_box_div_with_img {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-green);
    border-radius: 5px;
    margin-bottom: 38px;
    margin-left: 60px;
  }
  .inner_img {
    width: 295px;
    height: auto;
    margin-top: 55px;
  }
  .third_box_heading {
      font-family: var(--ff-raleway);
      font-size: 36px;
      font-weight: 400;
  }
  .third_box_text {
    font-family: var(--ff-os);
    font-size: 16px;
    margin-top: 30px;
    line-height: 24px;
  }
  .third_box_inner::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color:  var(--color-primary);
    display: block;
    margin-top: 44px;
}
/* fourth section */
.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    position: relative;
}
.container_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}
.price_heading {
    font-family: var(--ff-raleway);
    font-weight: 400;
    font-size: 36px;
    color: var(--color-black);
}
.price_box {
    width: 370px;
    height: 459px;
    border-radius: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.price_basic {
    border: 1px solid var(--color-reddish);
    margin-right: 59px;
}
.price_professional {
    border: 1px solid var(--color-primary);
    width: 400px;
    height: 498px;
    box-shadow: 5px 10px 27px var(--color-primary);
}
.price_premium {
    border: 1px solid var(--color-green);
    margin-left: 59px;
}
.price_date {
    margin-top: 34px;
    margin-bottom: 69px;
    text-align: center;
}
.price_text {
    font-family: var(--ff-raleway);
    font-weight: 400;
    font-size: 20px;
}
.price_cash {
    font-family: var(--ff-os);
    font-weight: 300;
    font-size: 46px;
    margin-top: 14px;
}
.price_cash_basic {
    color: var(--color-reddish);
}
.price_cash_professional {
    color: var(--color-primary);
}
.price_cash_premium {
    color: var(--color-green);
}
.price_offer {
    font-family: var(--ff-raleway);
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}
.price_list {
    font-family: var(--ff-os);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);
} 
.price_list_basic {
    margin-top: 30px;

}
.price_list_item {
    text-align: center;
    margin-bottom: 20px;
}
.price_list_item::before {
    content: "";
    height: 11px;
    width: 11px;
    display: inline-block;
    background-image: url("../assets/Ckechmark-1.1svg.svg");
    color: var(--color-green);
    margin-right: 10px;
    z-index: 1;
}
.not_included::before {
    background-image: url("../assets/Close.svg");
}
.btn {
    position: absolute;
    text-decoration: none;
    font-family: var(--ff-os);
    font-weight: bold;
    font-size: 13;
    text-align: center;
    color: var(--color-white);
    width: 150px;
    height: 50px;
    border-radius: 23px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    top: 95%;
    line-height: 50px;
}
.btn_basic  {
    background-color: var(--color-reddish);
}
.btn_professional {
    background-color: var(--color-primary);
}
.btn_premium {
    background-color: var(--color-green);
}
/* fifth section */

.contact {
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
}
.contact_column {
    width: 50%;
}
.contact_heading {
    font-family: var(--ff-raleway);
    font-size: 49px;
    color: var(--color-black);
    line-height: 56px;
}
.contact_text {
    font-family: var(--ff-os);
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 40px;
    line-height: 22px;
}
.contact_inner {
    font-family: var(--ff-os);;
    display: flex-start;
    justify-content: space-around;
    align-items: center;
}
.inner_first{
    text-decoration: none;
    font-family: var(--ff-os);
    font-size: 16px;
    color: var(--color-grey);
    font-weight: 500;
    margin-right: 20px;
  }
  .inner_second{
    text-decoration: none;
    font-family: var(--ff-os);
    font-size: 16px;
    color: var(--color-grey);
    font-weight: 500;
  }
  .inner_second img{
    margin-right: 10px;
  }
  .contact_form {
    display: flex;
    flex-direction: column;
  }
  .contact_field {
    display: flex;
    flex-direction: column;
  }
  .contact_field_first {
      margin-bottom: 43px;
  }
.form_label {
    font-family: var(--ff-os);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3px;
    color: var(--color-primary);
    text-transform: uppercase;
}
.form_input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    line-height: 43px;
}
.contact_accept {
    margin-top: 30px;
}
.form_contact {
  display: block;
  padding-left: 34px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.375rem;
  position: relative;
}
.form_contact input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }
  .form_contact .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
  }
  .form_contact input:checked ~ .checkbox {
      background-size: 50%;
      background-repeat: no-repeat;
      background-image: url(../assets/Checkmark.svg);
      background-position: 50% 50%;
  }
  .contact_accept .text_accept  {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
  
  }
  .btn_sub {
    font-size: 13px;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 35px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
  }
/* footer */
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--ff-raleway);
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 7px;
    cursor: pointer;
}
.inner_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_text {
    font-size: 11px;
    color: var(--color-grey);
}
.footer_box_icon a:first-of-type {
    margin-right: 1.5rem;
}